.col-md-4.offset-md-4.text-center
  %h3 Order Details
  %table.table.table-hover.table-responsive
    %thead.thead-dark
      %tr
        %th Name
        %th Animation Id
        %th Start Date
        %th End Date
    - @orders.each do |order|
      %tr
        %td
          =order.user.first_name+' '+order.user.last_name
        %td
          =order.animation_data_id
        %td
          =order.start_date
        %td
          =order.end_date


.col-md-4.offset-md-4.text-center
  .row-fluid
    .span4.text-left
      = button_to "Back", user_animations_path, method: "get", class: "btn btn-primary"
    .span4.text-center
      = button_to "Back", user_animations_path, method: "get", class: "btn btn-primary"
    .span4.text-right
      = button_to "Back", user_animations_path, method: "get", class: "btn btn-primary"



-# .container.mt-4
-#  .row
-#    .col-lg-4.offset-lg-4
-#      = button_to "Back", user_animations_path, method: "get", class: "btn btn-primary"
-#      = button_to "Home", user_animations_path, method: "get", class: "btn btn-success"
-#      = button_to "forward", user_animations_path, method: "get", class: "btn btn-primary"
