%div.offset-sm-11
  = link_to 'Back', animations_path, class: "btn btn-success"
=javascript_pack_tag 'demo_animation'
%body{onload: "show(animation)"}

:javascript
  window.animation = #{@animation_json.html_safe}