= render_breadcrumbs
%div.offset-sm-11
- if current_user.role == "admin"
  = button_to 'Add New Animation', new_animation_path, method: "get", class: "btn btn-primary"
= render partial: 'animationdata'
