- n = 0
- count = @animations.count
- outer = (count - 1) / 4 + 1
- outer.times do
  .card-deck.my-5
    - 4.times do
      - break if n >= count
      .card.col-md-3.mx-0{:style => "height: 35rem"}
        %img.img-fluid{:alt => "hii", :src => "#{@animations[n].picture.url}", :style => "height: 40%"}/
        .card-body
          %h5.card-title.text-center= @animations[n].animation_name
          - name = @animations[n].animation_name
          %p.card-text.text-center Animation Price: #{@animations[n].animation_price}
          =button_to 'Show Demo', demo_path(@primary_category_id, @secondary_category_id, name), method: "get", class: "btn btn-primary"
          %br
          = button_to 'Purchase', purchase_path(@animations[n].id, @primary_category_id, @secondary_category_id), method: "get", class: "btn btn-success"
      - n+=1
