.jumbotron.text-center.p-3
  %h1.display-4 Web Decor
.container
  .row
    .col-md-4.offset-md-4.border.p-4
      %h3 Listing Themes
      %br
      %table{border: "1"}
        %tr
          %th Theme Name
          %th Active
          %th Animation
        - @themes.each do |theme|
          %tr
            %td= theme.theme_name
            %td= theme.active
            %td= theme.animation
      .p-4
      =link_to "Create Theme" , new_theme_url
