.container
  .row
    .col-md-4.offset-md-4.border.p-4
      Theme Added Successfully......!
      %br
      %br
      Name:
      = @theme.theme_name
      %br
      Active:
      = @theme.active
      %br
      Animation:
      = @theme.animation
      .p-4
      =link_to "View all Themes" , themes_url
